.card {
  height: 100%;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0.35;
}

.root:hover .controls,
.root:focus-within .controls {
  opacity: 1;
}

.indicator {
  width: 14px;
  height: 8px;
  transition: width 250ms ease;
  background-color: var(--mantine-color-gray-5);
}

.indicator[data-active] {
  width: 40px;
}
